{% extends 'base.html.twig' %}

{% block title %}New Article1{% endblock %}

{% block body %}
    <h1>Create new Article1</h1>

    {{ include('article1/_form.html.twig') }}

    <a href="{{ path('app_article1_index') }}">back to list</a>
{% endblock %}
